[Unit]
Description=uWSGI instance to serve noisecrypt server
After=network.target

[Service]
User={{user}}
Group=www-data
WorkingDirectory={{path}}
Environment="PATH={{path}}/venv/bin"
ExecStart={{path}}/venv/bin/uwsgi noisecrypt_server.ini

[Install]
WantedBy=multi-user.target
